.container {
  position: relative;
  margin: 0 auto;
  max-width: 80%;
  min-height: 100vh;
}
.header {
  text-align: center;
  font-size: 2rem;
  padding: 10px 0;
}
.user-input-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 30px;
}
.user-input-wrapper input {
  margin: 10px;
  padding: 8px 6px;
  border-radius: 5px;
  border: 1px solid black;
}
#start-btn {
  color: white;
  background-color: cadetblue;
  border: 1px solid gray;
  cursor: pointer;
}
#start-btn:hover {
  background-color: darkcyan;
}

#game-section {
  margin: 30px 0;
}

#max-score-text {
  font-size: 24px;
  color: red;
}

#current-turn {
  font-size: 20px;
  margin: 5px 0;
  border: 2px solid #7e0608;
  padding: 8px 6px;
  max-width: 30%;
  border-radius: 5px;
}

#current-player-id {
  color: red;
  font-weight: bold;  
}

#roll-dice {
  font-size: 20px;
  margin: 5px 0;
  font-weight: bold;
}

#result-section {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  display: none;
}


#rolled-number {
  font-size: 30px;
  color: red;
}

#leaderboard-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin: 20px 0;
  display: none;
}

#leaderboard-table td, #leaderboard-table th {
  border: 1px solid black;
  padding: 8px;
}

#leaderboard-table tr:nth-child(even){background-color: #f2f2f2;}

#leaderboard-table tr:hover {background-color: #ddd;}

#leaderboard-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: teal;
  color: white;
}

#table-note, #hint-text {
  font-size: 14px;
  font-weight: normal;
  display: none;
}

#player-name {
  font-size: 16px;
  font-weight: bold;
}

#rank-section {
  display: none;
  font-weight: normal;
  font-size: 20px;
}

#rank-section li {
  margin: 10px 0;
}